
<template>
    
  <!-- Table with data -->
  <div v-if="entries.length">

    <vk-table striped :data="entries">
      <vk-table-column v-for="key in keys" :title="key.id"> 
        <div slot-scope="{row}"> {{ key.prop( row ) }} </div> 
      </vk-table-column>

      <!-- Edit -->
      <vk-table-column title="Acciones" v-if="showEdit"> 
        <vk-button slot-scope="{row}" @click="$emit( 'on-edit' , row )"> Editar </vk-button>
      </vk-table-column>

    </vk-table>
  </div>
  
  <!-- No data -->
  <div v-else> 
    <md-card> 
      <p class="empty-row"> No hay registros </p> 
    </md-card>
  </div>

</template>

<!-- Script -->
<script>

export default 
{
  name: "data-table",

  props:
  {
    keys: Array,
    entries: Array,
    showEdit: Boolean,
  },

  data()
  {
    return {};
  },
};

</script>

<!-- Styles -->
<style>
  .empty-row
  {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }

  .table-card
  {
    margin-bottom: 20px;
  }
</style>