
<template>
  <div class="page-container">
    <md-app md-waterfall md-mode="fixed">
      
      <!-- Section title -->
      <md-app-toolbar class="md-primary">
        <span class="md-title"> OrionTek - Client Managment App </span>
      </md-app-toolbar>

      <md-app-drawer md-permanent="full">
        <md-list> 

          <router-link :to="{ name: 'Body|Company'}">
            <md-list-item>
              <md-icon> apartment </md-icon>
              <span class="md-list-item-text"> Compañías </span>
            </md-list-item>
          </router-link>

          <router-link :to="{ name: 'Body|Client'}">
            <md-list-item>
              <md-icon> account_circle </md-icon>
              <span class="md-list-item-text"> Clientes </span>
            </md-list-item>
          </router-link>

        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view></router-view>
      </md-app-content>
    </md-app>

  </div>
</template>

<!-- Script -->
<script>

export default 
{
  name: "BodyView",
};

</script>

<!-- Style -->
<style>
  .md-drawer { width: 190px; padding-top: 10px; }
</style>
