
<template>

    <md-card>

      <!-- Header for main table -->
      <md-card-header>
        <div class="md-title"> 
          <span> Clientes </span> 
          <md-button class="md-primary" @click="onEditClient( null )"> Agregar + </md-button> 
        </div>
      </md-card-header>

      <!-- Display clients table -->
      <data-table 
        v-bind:keys="client.keys"
        v-bind:entries="client.entries"
        v-bind:show-edit="true"
        @on-edit="onEditClient( $event )"> 
      </data-table>

      <!-- Header for child table -->
      <md-card-header>
        <div class="md-title">
          <span> Direcciones del cliente </span>
          <md-button class="md-primary" @click="onEditAddress( null )"> Agregar + </md-button> 
        </div>
      </md-card-header>

      <!-- Select target client -->
      <md-card-content>
        <label> Seleccionar cliente </label>
        <select v-model="selected.client" v-on:change="onSelectClient">
          <option v-for="_client in client.entries" v-bind:value="_client">
            {{ _client.name }}
          </option>
        </select>
      </md-card-content>

      <!-- Display clients inside the client -->
      <data-table 
        v-bind:keys="address.keys"
        v-bind:entries="address.entries"
        v-bind:show-edit="true"
        @on-edit="onEditAddress( $event )"> 
      </data-table>

      <!-- Edition modal -> Create|Edit client-->
      <vk-modal :show.sync="show.client">
        <vk-modal-title> Agregar o editar </vk-modal-title>
        
        <md-field>
          <label> Nombre </label>
          <md-input v-model="editing.client.name"></md-input>
        </md-field>

        <p class="uk-text-right">
          <vk-button @click="show.client=false" class="uk-margin-small-right"> Cancelar </vk-button>
          <vk-button @click="onSaveClient()" type="primary"> Guardar </vk-button>
        </p>
      </vk-modal>

      <!-- Edition modal -> Add address -->
      <vk-modal :show.sync="show.clientAddress">
        <vk-modal-title> Agregar dirección al cliente </vk-modal-title>
        
        <!-- Set address.city -->
        <md-field>
          <label> Ciudad </label>
          <md-input v-model="editing.clientAddress.city"></md-input>
        </md-field>

        <!-- Set address.state -->
        <md-field>
          <label> Provincia o Estado </label>
          <md-input v-model="editing.clientAddress.state"></md-input>
        </md-field>

        <!-- Set address.street -->
        <md-field>
          <label> Calle </label>
          <md-input v-model="editing.clientAddress.street"></md-input>
        </md-field>

        <p class="uk-text-right">
          <vk-button @click="show.clientAddress=false" class="uk-margin-small-right"> Cancelar </vk-button>
          <vk-button @click="onSaveAddAddress()" type="primary"> Guardar </vk-button>
        </p>
      </vk-modal>

    </md-card>

</template>

<!-- Script -->
<script>

import DataTable from '@/components/Table.vue'
import HttpServer from "@/common/Server" ;

export default 
{
  name: "AddressView",
  
  components: 
  { 
    "data-table" : DataTable
  },

  methods:
  {
    async updateClientList()
    {
      try 
      {
        const client = this.client ;
        const res = await HttpServer.get( "Client" )
        client.entries = res.data ;

        /// Set the first entry as the current selection if not set.
        if( this.selected.client )
          this.selected.client = client.entries.find( c => c.id == this.selected.client.id ) || client.entries[0];
        else 
          this.selected.client = client.entries[0];

        this.onSelectClient() ;
      }
      catch( err )
      {
        console.log( err );
      }
    },

    onSelectClient()
    {
      let client = this.selected.client ;
      this.address.entries = client.addresses || [] ;
    },

    onEditClient( entity )
    {
      entity = entity || { id : 0 , name : "" } ;
      this.show.client = true ;
      this.editing.client = entity ;
    },

    onSaveClient()
    {
      let entity = this.editing.client ;
      
      if( entity.id ) // Update.
        HttpServer.put( "Client" , entity ) ;
      else // Insert.
        HttpServer.post( "Client" , entity ) ;

      this.show.client = false ;
      setTimeout( () => this.updateClientList() , 250 ) ;
    },

    onEditAddress( entity )
    {
      let client = this.selected.client ;
      entity = entity || { id : 0 , clientId : client.id , city : "" , state : "" , street : "" } ;
      this.show.clientAddress = true ;
      this.editing.clientAddress = entity ;
      this.selected.address = null ;
    },

    onSaveAddAddress()
    {
      let entity = this.editing.clientAddress ;

      if( entity.id ) // Update.
        HttpServer.put( "Address" , entity ) ;
      else // Insert.
        HttpServer.post( "Address" , entity ) ;

      this.show.clientAddress = false ;
      setTimeout( () => this.updateClientList() , 250 ) ;
    },
  },

  data()
  {
    let client = 
    {
      entries : [] ,
      keys : 
      [ 
        { id : "Id"     , prop : o => o.id } , 
        { id : "Nombre" , prop : o => o.name } ,
      ],
    };

    let address = 
    {
      entries : [] ,
      keys : 
      [ 
        { id : "Id"               , prop : o => o.id } , 
        { id : "Ciudad"           , prop : o => o.city } ,
        { id : "Provincia/Estado" , prop : o => o.state } ,
        { id : "Calle"            , prop : o => o.street } ,
      ],
    };

    // Look for entries when ready.
    this.$nextTick( () => 
    {
      this.updateClientList() ;
    });

    /// Return the data binding.
    return { 
      client   : client ,
      address  : address  ,
      selected : { client : null , address : null } ,
      editing  : { client : {} , clientAddress : {} } ,
      show     : { client : false , clientAddress : false } ,
    };
  }
};

</script>