
<template>

    <md-card>

      <!-- Header for main table -->
      <md-card-header>
        <div class="md-title"> 
          <span> Compañias </span> 
          <md-button class="md-primary" @click="onEditCompany( null )"> Agregar + </md-button> 
        </div>
      </md-card-header>

      <!-- Display companies table -->
      <data-table 
        v-bind:keys="company.keys"
        v-bind:entries="company.entries"
        v-bind:show-edit="true"
        @on-edit="onEditCompany( $event )"> 
      </data-table>

      <!-- Header for child table -->
      <md-card-header>
        <div class="md-title">
          <span> Clientes de la compañía </span>
          <md-button class="md-primary" @click="onAddClient()"> Agregar + </md-button> 
        </div>
      </md-card-header>

      <!-- Select target company -->
      <md-card-content>
        <label> Seleccionar compañía </label>
        <select v-model="selected.company" v-on:change="onSelectCompany">
          <option v-for="_company in company.entries" v-bind:value="_company">
            {{ _company.name }}
          </option>
        </select>
      </md-card-content>

      <!-- Display clients inside the company -->
      <data-table 
        v-bind:keys="client.keys"
        v-bind:entries="client.entries"> 
      </data-table>

      <!-- Edition modal -> Create|Edit company-->
      <vk-modal :show.sync="show.company">
        <vk-modal-title> Agregar o editar </vk-modal-title>
        
        <md-field>
          <label> Nombre </label>
          <md-input v-model="editing.company.name"></md-input>
        </md-field>

        <p class="uk-text-right">
          <vk-button @click="show.company=false" class="uk-margin-small-right"> Cancelar </vk-button>
          <vk-button @click="onSaveCompany()" type="primary"> Guardar </vk-button>
        </p>
      </vk-modal>

      <!-- Edition modal -> Add client -->
      <vk-modal :show.sync="show.companyClient">
        <vk-modal-title> Agregar cliente a la compañía </vk-modal-title>
        
        <!-- Select target company -->
        <md-card-content>
          <label> Seleccionar cliente a insertar </label>
          <select v-model="selected.client" v-on:change="onSelectClient">
            <option v-for="_client in client.available" v-bind:value="_client">
              {{ _client.name }}
            </option>
          </select>
        </md-card-content>

        <p class="uk-text-right">
          <vk-button @click="show.companyClient=false" class="uk-margin-small-right"> Cancelar </vk-button>
          <vk-button @click="onSaveAddClient()" type="primary"> Guardar </vk-button>
        </p>
      </vk-modal>

    </md-card>

</template>

<!-- Script -->
<script>

import DataTable from '@/components/Table.vue'
import HttpServer from "@/common/Server" ;

export default 
{
  name: "CompanyView",
  
  components: 
  { 
    "data-table" : DataTable
  },

  methods:
  {
    async updateCompanyList()
    {
      try 
      {
        const company = this.company ;
        const res = await HttpServer.get( "Company" )
        company.entries = res.data ;

        /// Set the first entry as the current selection if not set.
        if( this.selected.company )
          this.selected.company = company.entries.find( c => c.id == this.selected.company.id ) || company.entries[0];
        else 
          this.selected.company = company.entries[0];

        this.onSelectCompany() ;
      }
      catch( err )
      {
        console.log( err );
      }
    },

    async updateClientList()
    {
      try 
      {
        const client = this.client ;
        const res = await HttpServer.get( "Client" )
        client.available = res.data ;
      }
      catch( err )
      {
        console.log( err );
      }
    },

    onSelectCompany()
    {
      let company = this.selected.company ;
      let entries = company.companyClients || [] ;
      this.client.entries = entries.map( o => o.client ) ;
    },

    onEditCompany( entity )
    {
      entity = entity || { id : 0 , name : "" } ;
      this.show.company = true ;
      this.editing.company = entity ;
    },

    onSaveCompany()
    {
      let entity = this.editing.company ;
      
      if( entity.id ) // Update.
        HttpServer.put( "Company" , entity ) ;
      else // Insert.
        HttpServer.post( "Company" , entity ) ;

      this.show.company = false ;
      setTimeout( () => this.updateCompanyList() , 250 ) ;
    },

    onSelectClient()
    {
      let companyClient = this.editing.companyClient ;
      companyClient.clientId = this.selected.client.id ;
    },

    onAddClient()
    {
      let company = this.selected.company ;
      let entity = { id : 0 , companyId : company.id , clientId : 0 } ;
      this.show.companyClient = true ;
      this.editing.companyClient = entity ;
      this.selected.client = null ;
    },

    onSaveAddClient()
    {
      let entity = this.editing.companyClient ;
      HttpServer.post( "CompanyClient" , entity ) ;
      this.show.companyClient = false ;
      setTimeout( () => this.updateCompanyList() , 250 ) ;
    },
  },

  data()
  {
    let company = 
    {
      entries : [] ,
      keys : 
      [ 
        { id : "Id"     , prop : o => o.id } , 
        { id : "Nombre" , prop : o => o.name } ,
      ],
    };

    let client = 
    {
      entries : [] ,
      available : [] ,
      keys :
      [ 
        { id : "Id"     , prop : o => o.id } , 
        { id : "Nombre" , prop : o => o.name } ,
      ],
    };

    // Look for entries when ready.
    this.$nextTick( () => 
    {
      this.updateCompanyList() ;
      this.updateClientList() ;
    });

    /// Return the data binding.
    return { 
      company  : company ,
      client   : client  ,
      selected : { company : null , client : null } ,
      editing  : { company : {} , companyClient : {} } ,
      show     : { company : false , companyClient : false } ,
    };
  }
};

</script>